.orderList{
  margin: 5vh auto;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
}

.orderList td{
  padding: 1vh 2.5vw;
}

.THeader{
  border-bottom: dotted white 2px;
  border-left: dotted white 2px;
  border-right: dotted white 2px;
}

.deleteOrderSubmit{
  border: none;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: red;
  background-color: transparent;
  text-shadow: rgb(163, 163, 163) 1px 1px;
  font-weight: bold;
}

.deleteOrderSubmit:focus{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: url(../img/Cursor.cur), pointer;
}


.deleteOrderSubmit:hover{
  background-color: transparent;
  cursor: url(../img/Cursor.cur), pointer;
}

.deleteMsg{
  margin: 2vh auto;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(37, 158, 0);
  text-shadow: rgb(163, 163, 163) 1px 1px;
}


/* ----- Responsive max-width screen : 600px ----- */
@media screen and (max-width: 620px) {
  .orderList td{
    padding: 0.2vh 0.5vw;
  }

  .orderList{
    margin: 5vh auto;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
  }
}
